Application 
{  
   /*backgroundColors: #000000,#3f3f3f;*/
   backgroundColors: #ffffff,#efefef;
   backgroundImage: Embed(source="assets/img/bk3.jpg");
   backgroundSize: "100%";
   backgroundGradientColors: #e0e0e0, #cacaca;
   /*only used as background on initial page load progress bar*/
   themeColor: #b0bbc0;
   backgroundGradientAlphas: 0.20, 0.1;
}
MDIWindow
{
	titleStyleName: "title";
}
.title 
{
	color:#ffffff;
	font-weight:bold;	
	font-size:13pt;
}
.mainToolBar
{
  backgroundColors:#ff0000, #0000ff;
  backgroundImage: Embed(source="assets/img/topToolbarBG.jpg");
  backgroundSize: "100%";
}

BrandingLogo
{
	backgroundImage: Embed(source="assets/img/logo.png");
	backgroundSize: "100%";
}

Button 
{
	fillAlphas: 1, 1, 1, 1;
	fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
	themeColor: #ffffff;
	color: #72ad21;
	borderColor: #72ad21;
	borderAlpha: 1;
	borderThickness: 3;
}

.mdiWindowFocus
{
	borderColor: #5580a4;
	borderAlpha: 1;
	borderThicknessLeft: 2;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 2;
	roundedBottomCorners: false;
	cornerRadius: 5;
	dropShadowEnabled: false;  
	headerHeight: 25;
	backgroundAlpha: 1; 
	backgroundColor: #FFFFFF;
	/*backgroundImage: Embed(source="assets/img/innerWindowBG.png");
	titleBackgroundSkin: Embed(source="assets/img/toolbarBG.jpg");*/
	color: #255074;
}

.mdiWindowNoFocus
{
	borderColor: #afbcc0;
	borderAlpha: 1;
	borderThicknessLeft: 2;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 2;
	roundedBottomCorners: false;
	cornerRadius: 5;
	dropShadowEnabled: false;
	headerHeight: 25;
	backgroundAlpha: 1; 
	backgroundColor: #FFFFFF;
	/*backgroundImage: Embed(source="assets/img/innerWindowBG.png");
	/*titleBackgroundSkin: Embed(source="assets/img/toolbarBG_nofocus.jpg");*/
	color: #255074;
	
}

.mypanelTitle 
{
	fontFamily: Arial;
	fontSize: 13;
	fontWeight: bold;
	color: #f0f0f0;
}
