<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bbb-api</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Create</display-name>
    <filter-name>Create</filter-name>
    <filter-class>org.bigbluebutton.api.Create</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Create</filter-name>
    <url-pattern>/bigbluebutton/api/create</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>APIServlet</display-name>
    <servlet-name>APIServlet</servlet-name>
    <servlet-class>org.bigbluebutton.api.APIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APIServlet</servlet-name>
    <url-pattern>/bigbluebutton/api/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Join</display-name>
    <filter-name>Join</filter-name>
    <filter-class>org.bigbluebutton.api.Join</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Join</filter-name>
    <url-pattern>/bigbluebutton/api/join</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Enter</display-name>
    <filter-name>Enter</filter-name>
    <filter-class>org.bigbluebutton.api.Enter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Enter</filter-name>
    <url-pattern>/bigbluebutton/api/enter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Index</display-name>
    <filter-name>Index</filter-name>
    <filter-class>org.bigbluebutton.api.Index</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Index</filter-name>
    <url-pattern>/bigbluebutton/api</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>IsMeetingRunning</display-name>
    <filter-name>IsMeetingRunning</filter-name>
    <filter-class>org.bigbluebutton.api.IsMeetingRunning</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsMeetingRunning</filter-name>
    <url-pattern>/bigbluebutton/api/isMeetingRunning</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>End</display-name>
    <filter-name>End</filter-name>
    <filter-class>org.bigbluebutton.api.End</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>End</filter-name>
    <url-pattern>/bigbluebutton/api/end</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GetMeetingInfo</display-name>
    <filter-name>GetMeetingInfo</filter-name>
    <filter-class>org.bigbluebutton.api.GetMeetingInfo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GetMeetingInfo</filter-name>
    <url-pattern>/bigbluebutton/api/getMeetingInfo</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GetMeetings</display-name>
    <filter-name>GetMeetings</filter-name>
    <filter-class>org.bigbluebutton.api.GetMeetings</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GetMeetings</filter-name>
    <url-pattern>/bigbluebutton/api/getMeetings</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SignOut</display-name>
    <filter-name>SignOut</filter-name>
    <filter-class>org.bigbluebutton.api.SignOut</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignOut</filter-name>
    <url-pattern>/bigbluebutton/api/signOut</url-pattern>
  </filter-mapping>
</web-app>